[user]
	name = danielseehausen
  email = daniel.seehausen@gmail.com
  signingkey = A1BA577AAE5619D1
[diff]
  tool = vimdiff
[color]
  ui = auto
[alias]
  d = difftool
  l = "!. ~/.githelpers && pretty_git_log" # Fancy logging
  ci = clean -i
  co = checkout
  ds = diff --staged
  sh = show
  st = status
  can = commit --amend --no-edit
  psm = submodule update --init --recursive
  canp = "!git commit --amend --no-edit && git push --force"
  amend = commit --amend
[gpg]
  program = gpg2
[merge]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true # Be able to abort all diffs with `:cq` or `:cquit`
