[user]
  name = Daniel Seehausen
  email = daniel.seehausen@gmail.com
	signingkey = 8302632F587F0845
[diff]
[color]
  ui = auto
[alias]
  st = status
  co = checkout
  amend = commit --amend
  gcan = commit --amend --no-edit
  # Fancy logging
  l = "!. ~/.githelpers && pretty_git_log"
[gpg]
	program = gpg2
